.collection-page {
  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & .collection-item {
      margin: 0 1rem 3rem 1rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}
