.collection-page {
  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .collection-item {
      margin-bottom: 3rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
