.checkout-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  padding: 2rem 0;
  font-size: 2.2rem;
  border-bottom: 1px solid #000;

  @media only screen and (max-width: 50em) {
    font-size: 2rem;
  }

  &__img-container,
  &__name,
  &__quantity,
  &__price {
    width: 23%;
  }

  &__img-container {
    @media only screen and (max-width: 31.25em) {
      width: 27%;
    }
  }

  &__img {
    width: 80%;

    @media only screen and (max-width: 50em) {
      width: 95%;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin: 0 0.7rem;
    cursor: pointer;
  }

  &__price {
    padding: 0 0.6rem;

    @media only screen and (max-width: 50em) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: 31.25em) {
      padding: 0 2rem;
    }
  }

  &__remove {
    font-size: 4rem;
    padding-left: 4rem;
    cursor: pointer;
  }
}
