.sign-in {
    padding: 2.5rem;
    margin: 2.5rem;
    width: 30vw;

    h2 {
        font-size: 3rem;
    }

    span {
        display: inline-block;
        margin-top: 3rem;
        font-size: 2.2rem;
    }

    .buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}