.collection-page {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 50em) {
    align-items: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;

    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 31.25em) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}
