.contact-card {
  &__details {
    font-size: 2.5rem;
    width: 30vw;

    @media only screen and (max-width: 75em) {
      width: 35vw;
    }

    @media only screen and (max-width: 50em) {
      width: 60vw;
    }

    @media only screen and (max-width: 31.25em) {
      width: 80vw;
    }

    @media only screen and (max-width: 21.875em) {
      width: 90vw;
    }
  }
}
