.header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;

    .logo-container {
        height: 100%;
        padding: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding: 2.5rem;
    }    

    .option {
        font-size: 2rem;
        margin: 1.5rem 2.5rem
    }
}