.collection-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21vw;
  height: 35rem;
  margin: 0.5rem;

  @media only screen and (max-width: 50em) {
    width: 40vw;
  }

  @media only screen and (max-width: 31.25em) {
    width: 80vw;
  }

  &:hover {
    .image {
      opacity: 0.85;

      @media only screen and (max-width: 50em) {
        opacity: unset;
      }
    }

    button {
      display: block;
    }
  }

  &--footer {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 50em) {
      // height: 10%;
    }
  }

  .image {
    height: 95%;
    width: 100%;
    // margin-bottom: 0.5rem;
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 50em) {
      // height: 90%;
    }
  }

  .price,
  .name {
    font-size: 2rem;
  }

  button {
    position: absolute;
    top: 75%;
    width: 80%;
    opacity: 0.85;

    @media only screen and (max-width: 50em) {
      top: 70%;
    }
  }
}
