.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    border: 1.5px solid black; // 1.5px makes the gap between bg-image and the border disappear in chrome on Win10, at the same time not changing anything in firefox comparing to 1px
    position: relative;
    overflow: hidden;

    &.large {
        height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    &:hover {
      cursor: pointer;

      & .background-image {
        transform: scale(1.1);
        transition: transform 4.5s cubic-bezier(.33,.96,.82,.54);
      }

      & .content {
        opacity: .9;
      }
    }

    .background-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      background-color: #fff;
      opacity: .7;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
        text-transform: uppercase;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
}