.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 10rem;
  margin-bottom: 2rem;

  &__img {
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 1rem 2rem;
  }
}
