$color-grey: #999;
$color-black: #111;

@mixin shrinkLabel {
    top: -1.5rem;
    font-size: 1.4rem;
    color: $color-black;
}

.group {
    position: relative;
    margin: 4rem 0;

    .form-input {
        outline: none;
        font-family: inherit;
        font-size: 1.8rem;
        line-height: 1.3;
        margin-bottom: 3rem;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid $color-grey;
        width: 30vw;

        &:focus {
                border-bottom: 1px solid $color-black;
        }

        &:focus ~ .form-input-label {
            @include shrinkLabel();
        }

        &[type=password] {
            letter-spacing: .3rem;
        }
    }

    .form-input-label {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: $color-grey;
        font-size: 1.7rem;
        transition: all .3s;

        &.shrink {
            @include shrinkLabel();
        }
    }
}

    